# Indent
IndentWidth: 4
AccessModifierOffset: -4

# Alignment
AlignAfterOpenBracket: DontAlign
AlignConsecutiveDeclarations: false
AlignOperands: true

# Braces
BreakBeforeBraces: Allman

# Constructor initializers
AllowAllConstructorInitializersOnNextLine: true
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true

# Column limit
ColumnLimit: 85

# Functions
BinPackParameters: false
AllowShortFunctionsOnASingleLine: true

# Line endings
DeriveLineEnding: false
UseCRLF: false
