# Indent
IndentWidth: 4
AccessModifierOffset: -4

# Alignment
AlignAfterOpenBracket: DontAlign
AlignConsecutiveDeclarations: false
AlignOperands: true

# Braces
BreakBeforeBraces: Allman

# Constructor initializers
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: false

# Function blocks
AllowShortFunctionsOnASingleLine: true

# Line endings
DeriveLineEnding: false
UseCRLF: false
